.product__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 3.5em;
    position: relative;
    align-items: center;
    height: calc(100vh - 8em);
}
.__product_image_container {
    background-image: url("../bilder/placeholder.jpg");
    width: clamp(100px, 100vw, 1920px);
    height: clamp(100px, 90vh, 850px);
    background-size: cover;
    background-position: 50% 65%;
}

#__right,
#__left {
    height: 2.5em;
    flex-shrink: 5;
    fill: rgba(0, 0, 0, 0.5);
}
#__left:active,
#__right:active {
    fill: rgba(0, 0, 0, 1);
}

#__left:hover,
#__right:hover {
    fill: rgba(0, 0, 0, 1);
}
