:root {
    --p-span-font-size: 0.8em;
}
.product__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 3.5em;
    position: relative;
    align-items: center;
    height: calc(100vh - 8em);
}
.__product_image_container {
    background-image: url("../bilder/placeholder.jpg");
    width: clamp(100px, 100vw, 1920px);
    height: clamp(100px, 90vh, 20em);
    background-size: cover;
    background-position: 50% 75%;
}

.__product_image_container > div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    top: 100%;
}

.__product_image_container > div > span {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: normal;
}
.__product_flex_container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    padding-top: 2.5em;
}

.__product_flex_container > div > p {
    font-size: var(--p-span-font-size);
    padding: 0;
    margin: 0;
}

.__product_info_last {
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}
.__product_info_last > span {
    font-size: var(--p-span-font-size);
}

.__footer_product_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
}

#__right,
#__left {
    height: 2.5em;
    flex-shrink: 5;
    fill: rgba(0, 0, 0, 0.5);
}
#__left:active,
#__right:active {
    fill: rgba(0, 0, 0, 1);
}

#__left:hover,
#__right:hover {
    fill: rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 600px) {
    .__product_image_container {
        height: clamp(100px, 90vh, 40em);
        width: clamp(100px, 100vw, 170em);
    }
    #__right,
    #__left {
        flex-shrink: 3;
    }
}

@media only screen and (min-width: 1000px) {
    .__product_image_container {
        height: clamp(100px, 90vh, 80em);
        width: clamp(100px, 100vw, 170em);
        background-position: 50% 77%;
    }

    #__right,
    #__left {
        flex-shrink: 1;
    }
}

.footer__content {
    bottom: -30em;
}
