:root {
    --p-span-font-size: 0.8em;
}
.product__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 3.5em;
    position: relative;
    align-items: center;
    height: calc(100vh - 8em);
}
.__product_image_container {
    background-image: url("../bilder/placeholder.jpg");
    width: clamp(20em, 40vw, 70em);
    height: clamp(20em, 80vh, 70em);
    background-size: cover;
    background-position: 50% 50%;
}

.__product_image_container > div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    top: 100%;
}

.__product_image_container > div > span {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: normal;
}
.__product_flex_container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    padding-top: 2.5em;
}

.__product_flex_container > div > p {
    font-size: var(--p-span-font-size);
    padding: 0;
    margin: 0;
}

.__product_info_last {
    display: flex;
    flex-direction: column;
    row-gap: 0.2em;
}
.__product_info_last > span {
    font-size: var(--p-span-font-size);
}

.__footer_product_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
}

.__arrow_container {
    width: 2.5em;
    height: 2.5em;
}

#__right,
#__left {
    height: 100%;
    width: 100%;
    fill: rgba(0, 0, 0, 0.5);
}

#__left:hover,
#__right:hover,
#__left:active,
#__right:active {
    fill: rgba(0, 0, 0, 1);
}

.footer__content {
    bottom: -30em;
}
